# Deps
node_modules/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo
backend/logs

dist
frontend/distserver

# env
.env
.env.production

# IDEA
.idea

.vscode

#Scala
.scala-build

# misc
.DS_Store

frontend/distserver