$yukkuricraft-primary: #e56a00;

@use 'bulma/sass/index' with (
  $primary: $yukkuricraft-primary,
  $body-font-size: 1.2rem,
  $title-weight: var(--bulma-weight-bold),
  $footer-padding: 3rem 1.5rem 3rem
);

@use 'bulma/sass/utilities/mixins';

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

*[id]:before {
  display: block;
  content: ' ';
  margin-top: -52px;
  height: 52px;
  visibility: hidden;
}

.byline {
  color: hsl(0, 0%, 60%);
  font-size: 0.9rem;
  p {
    margin: 0;
    padding: 0;
  }
}

a:hover {
  text-decoration: underline;
}

.yc-footer {
  text-align: center;
  font-size: 1rem;
}

#version {
  float: right;
}

@media (max-width: 576px) {
  .smaller-sm-text {
    font-size: 75%;
  }
}

.container-error {
  margin-top: 5%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

.site {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
